// CUSTOM FONT
$font-face1:      source-han-sans-japanese, sans-serif;
$font-face2:      ryo-gothic-plusn, sans-serif;

// CUSTOM COLORS
$color-primary-default: #D9BD89;
$color-secondary-default: #BF9969;
$color-tertiary-default: #73532D;
$color-light-default: #F2F2F2;
$color-dark-default: #1A1A1A;
$color-grey-default: #333333;

$color-primary-100: #f7f2e7;
$color-primary-200: #f0e5d0;
$color-primary-300: #e8d7b8;
$color-primary-400: #e1caa1;
$color-primary-500: $color-primary-default;
$color-primary-600: #ae976e;
$color-primary-700: #827152;
$color-primary-800: #574c37;
$color-primary-900: #2b261b;

// SHADOWS
$shadow: 0px 8px 15px 4px rgba(26,26,26,0.6);