@import './variables';

.footer-container {
  background: $color-dark-default;
  padding-top: 1rem;
  letter-spacing: 2px;

  span {
    font-family: $font-face2;
    font-weight: 700;
    color: #D99A4E;

    a {
      text-decoration: none;
      color: inherit;
      transition: all linear .2s;

      &:hover {
        color: #f7bc75;
      }
    }
  }
}